<div data-role="group" class="w-full <%= css %>">
  <h2><%= title %></h2>
  <% if description %>
    <p><%= description %></p>
  <% end %>

  <div>
    <% items.each do |item| %>
      <%= item %>
    <% end %>
  </div>
</div>
