<div data-role="layout" class="w-full <%= css %>">
  <% items.each do |item| %>
    <%= item %>
  <% end %>

  <% if submit || action %>
    <div>
      <%= action %>
      <%= submit %>
    </div>
  <% end %>
</div>
